parameters:
    excludePaths:
    - src/Controllers/Web/InertiaController.php

    ignoreErrors:
    - '#Call to an undefined static method Uasoft\\Badaso\\Module\\Content\\Models\\Content::[a-zA-Z0-9-()\_]+.#'
    - '#Call to an undefined static method [a-zA-Z0-9-()\_]+\\[a-zA-Z0-9-()\_]+\\[a-zA-Z0-9-()\_]+\\[a-zA-Z0-9-()\_]+::[a-zA-Z0-9-()\_]+.#'
